POSTGRES_PASSWORD=your_postgres_password

DATABASE_URL=postgresql://username:password@localhost:5432/database_name

BIND_ADDRESS=0.0.0.0:8080

DB_MAX_CONNECTIONS=10

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

FRONTEND_URL=https://localhost:8443
API_URL=https://localhost:8443/api

ENABLE_SWAGGER=true